* {
  margin: 0;
  padding: 0;
  transition: 0.3s ease all;
  position: relative;
  font-family: "Verdana";
  font-weight: 400;
}
html, body {
  width: 100%;
  padding: 20px 0;
  background-color: #C7E3F2;
  font-family: 'Inter';
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  padding-bottom: 30px;
  width: 85%;
  min-width: 330px;
  max-width: 515px;
  background-color: white;
  border-radius: 5px;
}
section {
  width: 100%;
  max-width: 100%;
  min-height: 220px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
h1 {
  font-size: 33px;
  color: #383838;
}
h3 {
  font-size: 19px;
  color: #00000085;
}
h2 {
  width: 275px;
  height: 50px;
  font-size: 19px;
  border-bottom: 1px solid rgba(255,255,255,0.259);
}
p {
  display: inline-block;
  width: 275px;
  height: 77px;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 0.2px;
  line-height: 2;
}
a {
  color: white;
}
a:hover {
  color: #5EFFFF;
}
ul {
  list-style: none;
}
ul img {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20d%3D%22M37.9%2C10.6l-3.2-3.2c-0.4-0.4-1-0.7-1.6-0.7c-0.6%2C0-1.2%2C0.2-1.6%2C0.7L15.9%2C23l-7-7c-0.4-0.4-1-0.7-1.6-0.7S6.1%2C15.6%2C5.6%2C16%20l-3.2%2C3.2c-0.4%2C0.4-0.7%2C1-0.7%2C1.6S2%2C22%2C2.4%2C22.5l8.6%2C8.6l3.2%2C3.2c0.4%2C0.4%2C1%2C0.7%2C1.6%2C0.7c0.6%2C0%2C1.2-0.2%2C1.6-0.7l3.2-3.2l17.2-17.2%20c0.4-0.4%2C0.7-1%2C0.7-1.6C38.6%2C11.6%2C38.4%2C11.1%2C37.9%2C10.6z%22%20fill%3D%22%23FFFFFF%22%20%2F%3E%3C%2Fsvg%3E');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border: 0.1px solid lightgray;
  border-radius: 100%;
  margin-right: 10px;
}
li {
  height: 20px;
  font-size: 14px;
  font-weight: 200;
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.contact-ctr {
  height: 150px;
  width: 285px;
  display: flex;
  flex-wrap: wrap;
}
.contact-ctr a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 94px;
  height: 37px;
  margin: 10px;
  padding: 0 5px 0 5px;
  margin-top: 0;
  font-size: 13px;
  text-decoration: none;
  border: 0.5px solid lightgray;
  border-radius: 5px;
}
.contact-ctr a:hover {
  border: 0.5px solid #5EFFFF;
}
.contact-ctr img {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}
.carrd-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 111px;
  height: 24px;
  margin: 30px 20px 0;
  color: #4A4A4A7F;
  border-radius: 15px;
  font-size: 12px;
  font-family: 'Arial';
  font-weight: 600;
  letter-spacing: 0.5px;
  text-decoration: none;
}
.carrd-btn:hover {
  background: linear-gradient(45deg, #4CBFC7 0%, #787DFF 100%);
  opacity: none;
  color: white;
  width: 120px;
  height: 28px;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}
#s1 {
  height: 320px;
  gap: 12px;
}
#s1 img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
#s2 {
  background-color: #4299FF;
}
#s3 {
  background-color: #3288ED;
  height: 276px;
}
#s4 {
  background-color: #277DE3;
  height: 280px;
}


@media only screen and (min-width: 736px) {
  html, body {
    margin: 0;
  }
  main {
    margin: 0;
  }
  section {
    flex-direction: row;
    justify-content: flex-start;
  }
  h2 {
    width: 160px;
    min-height: 155px;
    max-height: 225px;
    border-bottom: none;
    border-right: 1px solid rgba(255,255,255,0.259);
    margin-left: 20px;
  }
  #s1 {
    flex-direction: column;
    justify-content: center;
  }
}